p
  br
  | My name is Matthijs, !{' '}
  b Software Architect
  |  for 
  a(href='https://www.alliander.com' target='_blank')
    | Alliander
  | .
  
p
  | Matthijs is a motivated, energetic catalyst who's got a passion for building thriving systems. He likes being in the middle of the technological and organisational domains, and loves reading about subjects like self organisation, psychology, leadership and complexity. He strongly believes that Software should be as simple as possible and that constructive collaboration is the most important foundation for making Software right. He has tackled challenges in complex organisations and complicated technical domains, and is able to help teams bring models and solutions to the next level. Matthijs is very eager to learn and likes to participate in conferences and meetups. He's a social person that likes to work in a team and tries his best to get most out of himself and others. He has experience in different technical ecosystems and stacks (JVM, .NET, AWS, Azure) and is able to get up to speed quickly in new environments.

