h2 Articles
h3 Xebia
ul
  li
    a(href="https://xebia.com/blog/tdd-is-not-about-testing/")
      b="TDD is not about testing"
h3 Medium
ul
  each article in articles
    li
      a(href=article.url)
        b=article.title
